<h1>SHOW</h1>
<div class="fb-comments" data-href="http://localhost:3000/items/<%= @item.id %>" data-numposts="5" data-colorscheme="light"></div>
<div class="fb-like" data-href="http://localhost:3000/items/<%= @item.id  %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

title : <%= @item.title  %>
description : <%= @item.description  %>
