div.item-box {
  position: inline;
  margin: 10px;
  padding: 20px;
  background-color: #eee;
}

div.deal-type-sell {
  position: absolute;
  font-size: 20px;
  color: white;
  background-color: red;
  z-index: 1;
  top: -5px;
  left: -20px;
}
